
.icond-engine-coolant:before { content: '\e800'; } /* '' */
.icond-oil:before { content: '\e801'; } /* '' */
.icond-brake-system-warning:before { content: '\e802'; } /* '' */
.icond-battery:before { content: '\e803'; } /* '' */
.icond-malfunction-indicador:before { content: '\e804'; } /* '' */