
.icon-engine-coolant:before { content: '\e800'; } /* '' */
.icon-oil:before { content: '\e801'; } /* '' */
.icon-brake-system-warning:before { content: '\e802'; } /* '' */
.icon-battery:before { content: '\e803'; } /* '' */
.icon-malfunction-indicador:before { content: '\e804'; } /* '' */