<div class="row">
	<div class="col-lg-12">
		<div id="content-header" class="clearfix">
			<div class="pull-left">
				<ol class="breadcrumb">
					<li><a href="">Home</a></li>
					<li class="active"><span>Gestion Leasing - Dashboard</span></li>
				</ol>
				
				<h1>Gestion Leasing - Dashboard</h1>
			</div>

			<div class="pull-right hidden-xs">
				<div class="xs-graph pull-left">
					<div class="graph-label">
						<b><i class="fa fa-car"></i> 390</b> Riesgo Moderado
					</div>
					<div class="graph-content spark-orders"></div>
				</div>


				<div class="xs-graph pull-left mrg-l-lg mrg-r-sm">

					<div class="graph-label">
						<b><i class="fa fa-car"></i> 250</b> Riesgo Alto 
					</div>
<!-- 					<div class="graph-label">
						<b>250</b> Alto
					</div>
 -->					<div class="graph-content spark-revenues"></div>
				</div>
			</div>
		</div>
	</div>
</div>



<uib-tabset active="active" >
	<uib-tab index="0" heading="Riesgo">
		<!-- <div class="row"> -->
			<div class="main-box">
				
		<select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds"></select>	
		<!-- <p ng-show="selectedIds.length" style="padding-top: 1em;">Selected: {{ selectedIds }}</p> -->
			</div>
		<!-- </div> -->
		<div class="row">
			<div class="col-md-6">
				<div class="main-box">
							<header class="main-box-header clearfix">
								<h2 class="pull-left">Clasificacion Predictiva de Conduccion por Riesgo</h2>
							</header>
							<div class="main-box-body clearfix">
								<div class="row">
									<div class="col-lg-3 col-sm-6 col-xs-12">
										<div class="main-box infographic-box colored emerald-bg">
											<i class="fa fa-car"></i>
											<span class="headline">Total</span>
											<span class="value">1450</span>
											<span class="text-small text-center">55%</span>
										</div>
									</div>	

									
									<div class="col-lg-3 col-sm-6 col-xs-12">
										<div class="main-box infographic-box colored green-bg">
											<!-- <i class="fa fa-envelope"></i> -->
											<i class="icon-parked-car"></i>

											<span class="headline">Minimo</span>
											<span class="value">250</span>
											<span class="text-small text-center">17%</span>
										</div>
									</div>

									<div class="col-lg-3 col-sm-6 col-xs-12">
										<div class="main-box infographic-box colored yellow-bg">
											<i class="icon-car-compact"></i>
											<span class="headline">Moderado</span>
											<span class="value">800</span>
											<span class="text-small text-center">55%</span>
										</div>
									</div>

									<div class="col-lg-3 col-sm-6 col-xs-12">
										<div class="main-box infographic-box colored red-bg">
											<i class="icon-car-collision"></i>
											<span class="headline">Alto</span>
											<span class="value">400</span>
											<span class="text-small text-center">28%</span>
										</div>
									</div>
								</div>
								<div class="row">
									
									<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
									</canvas> 
								</div>
							</div>

							<!-- <div class="col-lg-3 col-sm-6 col-xs-12">
								<div class="main-box infographic-box colored purple-bg">
									<i class="fa fa-globe"></i>
									<span class="headline">Visits</span>
									<span class="value">13.298</span>
								</div>
							</div> -->



				</div>	
			</div>
			<div class="col-md-6">
				<div class="main-box feed">
					<header class="main-box-header clearfix">
						<h2 class="pull-left">Alertas</h2>
					</header>
					<div class="main-box-body clearfix">
						<ul>
							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 145ACMP</a>
									RPM sobre 4000
								</div>
								<div class="post-time">
									Hoy 5:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										6 hrs.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 569ACB</a>
									Acceleracion Excesiva
								</div>
								<div class="post-time">
									Hoy 11:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 180APT</a>
									 Velocidad Excesiva
								</div>
								<div class="post-time">
									Hoy 5:22 pm
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 145ACMP</a>
									 Frenada Brusca
								</div>
								<div class="post-time">
									Hoy 5:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										6 hrs.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 569ACB</a>
									Posible Accidente
								</div>
								<div class="post-time">
									Hoy 11:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/gear.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo ACM-1PT</a>
									Posible Accidente
								</div>
								<div class="post-time">
									Hoy 5:22 pm
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>
						</ul>
						
					</div>



				</div>	
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="main-box clearfix">
					<header class="main-box-header clearfix">
						<h2 class="pull-left">Lista de Vehiculos / Riesgo Operativo</h2>
						
						<div class="filter-block pull-right">
							<div class="form-group pull-left">
								<input type="text" class="form-control" placeholder="Buscar ...">
								<i class="fa fa-search search-icon"></i>
							</div>
							
							<a href="" class="btn btn-primary pull-right">
								<i class="fa fa-eye fa-lg"></i> Ver todas las Unidades
							</a>
						</div>
					</header>
					
					<div class="main-box-body clearfix">
						<div class="table-responsive clearfix">
							<table class="table table-hover">
								<thead>
									<tr>
										<th><a href=""><span>Patente</span></a></th>
										<th><a href="" class="desc"><span>VIN</span></a></th>
										<th><a href="" class="asc"><span>Cliente</span></a></th>
										<th class="text-center"><span>Comportamiento/Manejo</span></th>
										<th class="text-center"><span>Riesgo</span></th>
										<th class="text-center"><span>Detalles</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="">JFAZ990</a>
										</td>
										<td
										>
											5TEWN72N63Z275910
										</td>
										<td>
											<a href="">Alvaro Tapia</a>
										</td>
										<td class="text-center">
											90
										</td>
										<td class="text-center">
											<span class="label label-danger">Alto</span>
										</td>
										<td class="text-center" style="width: 15%;" >
											<a href="" class="table-link">
												<span class="fa-stack" ng-click="openVehicleDetails('lg')">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">ABCDI99</a>
										</td>
										<td>
											5GAKRDED0CJ396612
										</td>
										<td>
											<a href="">John Wayne</a>
										</td>
										<td class="text-center">
											71
										</td>

										<td class="text-center">
											<span class="label label-danger">Alto</span>
										</td>
										<td class="text-center" style="width: 15%;" >
											<a href="" class="table-link">
												<span class="fa-stack" ng-click="openVehicleDetails('lg')">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">JFAZ9915</a>
										</td>
										<td>
											1GCHC33N7RJ376544
										</td>
										<td>
											<a href="">Ramiro Crespo</a>
										</td>
										<td class="text-center">
											90
										</td>
										<td class="text-center">
											<span class="label label-danger">Alto</span>
										</td>
										<td class="text-center" style="width: 15%;" >
											<a href="" class="table-link">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x" ng-click="openVehicleDetails('lg')"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>



									</tr>
									<tr>
										<td>
											<a href="">JRCK78</a>
										</td>
										<td>
											WBSPM9C52BE202514
										</td>
										<td>
											<a href="">Sebastian Marconi</a>
										</td>
										<td class="text-center">
											35
										</td>
										<td class="text-center">
											<span class="label label-warning">Medio</span>
										</td>
										<td class="text-center" style="width: 15%;" ng-click="openVehicleDetails('lg')">
											<a href="" class="table-link">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">ARQK79</a>
										</td>
										<td>
											2T1KR32EX3C158977
										</td>
										<td>
											<a href="">Edison Tesla</a>
										</td>
										<td class="text-center">
											34
										</td>
										<td class="text-center">
											<span class="label label-warning">Medio</span>
										</td>
										<td class="text-center" style="width: 15%;" ng-click="openVehicleDetails('lg')">
											<a href="" class="table-link">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


	</uib-tab>

	<uib-tab index="2" heading="Mantenimientos">

		<div class="main-box">
			
			<select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds"></select>
		</div>

				<div class="row">
			<div class="col-md-6">
				<div class="main-box">
					<header class="main-box-header clearfix">
						<h2 class="pull-left"> Sugerencias de Mantenimiento </h2>
					</header>
					
					<div class="main-box-body clearfix">
						<div class="row">
<!-- 							<div class="col-md-9" ng-controller="dashboardFlotCtrl">
								<div id="graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
							</div>

 -->						

 								<div class="col-md-12">
								<ul class="graph-stats">
									<li>
										<div class="clearfix">
											<div class="title pull-left">
												Necesitan Mantenimiento Urgente
											</div>
											<div class="value pull-right" title="24% up" data-toggle="tooltip">
												200 <i class="fa fa-level-up green"></i> 
											</div>
										</div>
										<div class="progress">
											<div style="width: 42%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="42" role="progressbar" class="progress-bar progress-bar-danger">
												<span class="sr-only">42% Complete</span>
											</div>
										</div>
									</li>
									<li>
										<div class="clearfix">
											<div class="title pull-left">
												Se debe coordinar mantenimiento el proximo Mes
											</div>
											<div class="value pull-right" title="17% down" data-toggle="tooltip">
												130 <i class="fa fa-level-down red"></i> 
											</div>
										</div>
										<div class="progress">
											<div style="width: 94%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="94" role="progressbar" class="progress-bar progress-bar-warning">
												<span class="sr-only">94% Complete</span>
											</div>
										</div>
									</li>
									<li>
										<div class="clearfix">
											<div class="title pull-left">
												Observaciones Menores 
											</div>
											<div class="value pull-right" title="10% down" data-toggle="tooltip">
												21 <i class="fa fa-level-down red"></i> 
											</div>
										</div>
										<div class="progress">
											<div style="width: 69%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="69" role="progressbar" class="progress-bar">
												<span class="sr-only">69% Complete</span>
											</div>
										</div>
									</li>

									<li>
										<div class="clearfix">
											<div class="title pull-left">
												Sin Observaciones
											</div>
											<div class="value pull-right" title="8% up" data-toggle="tooltip">
												894 <i class="fa fa-level-up green"></i> 
											</div>
										</div>
										<div class="progress">
											<div style="width: 78%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar" class="progress-bar progress-bar-success">
												<span class="sr-only">78% Complete</span>
											</div>
										</div>
									</li>

								</ul>
							</div>


						</div>
					</div>
				</div>	
			</div>

			<div class="col-md-6">
				<div class="main-box feed">
					<header class="main-box-header clearfix">
						<h2 class="pull-left">Alertas</h2>
					</header>
					<div class="main-box-body clearfix">
						<ul>
							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/maintenance.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 145ACMP</a>
									Necesita Cambio de Aceite
								</div>
								<div class="post-time">
									Hoy 5:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										6 hrs.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/maintenance.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 569ACB</a>
									Temperatura de Motor Excesiva
								</div>
								<div class="post-time">
									Hoy 11:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>

							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/maintenance.svg">	
								</div>
								<div class="title">
									<a href="">UnidadACM-1PT</a>
									Necesita Cambio de Aceite
								</div>
								<div class="post-time">
									Hoy 5:22 pm
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										5 min.
									</i>
								</div>
							</li>

<!-- 							<li class="cleafix">
								<div class="img">
									<img src="assets/icons/maintenance.svg">	
								</div>
								<div class="title">
									<a href="">Vehiculo 145ACMP</a>
									Necesita Cambio de Aceite
								</div>
								<div class="post-time">
									Hoy 5:22 am
								</div>
								<div class="time-ago">
									<i class="fa fa-clock-o">
										6 hrs.
									</i>
								</div>
							</li>
 -->
						</ul>
						
					</div>



				</div>	
			</div>
			<div class="row">
											<div class="col-md-12">
							<div class="panel-group accordion" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								<!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> -->
											<a class="accordion-toggle" ng-click="isCollapse = !isCollapse">
												Necesitan Mantenimiento Urgente
											</a>
										</h4>
									</div>
								<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body" uib-collapse="isCollapse">

								<table class="table table-hover">
									<thead>
										<tr>
											<th><a href=""><span>Patente</span></a></th>
											<!-- <th><a href="" class="desc"><span>VIN</span></a></th> -->
											<th><a href="" class="asc"><span>Cliente</span></a></th>
	 										<th class="text-center"><span>DTC</span></th>
	 										<th class="text-center"><span>Mantenimientos</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<a href="">JFAZ990</a>
											</td>

											<td>
												<a href="">Alvaro Tapia</a>
											</td>
	 										<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-battery"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-oil"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>
												</a>
											</td>
											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleMaintenances('lg')">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="">ABCDI99</a>
											</td>
											<td>
												<a href="">John Wayne</a>
											</td>
											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-battery"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-oil"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-engine-coolant"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>
	

												</a>
											</td>
											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleMaintenances('lg')">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</td>

										</tr>
										<tr>
											<td>
												<a href="">JFAZ9915</a>
											</td>
											<td>
												<a href="">Ramiro Crespo</a>
											</td>
											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-battery"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-oil"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-engine-coolant"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>
												</a>
											</td>

											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleMaintenances('lg')">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</td>



										</tr>
										<tr>
											<td>
												<a href="">JRCK78</a>
											</td>
											<td>
												<a href="">Sebastian Marconi</a>
											</td>
											<td class="text-center" style="width: 15%;" ng-click="openVehicleDetails('lg')">
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-malfunction-indicador"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-oil"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-engine-coolant"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>
													</a>
											</td>

											<td class="text-center" style="width: 15%;" >
												<a href="" class="table-link">
													<span class="fa-stack" ng-click="openVehicleMaintenances('lg')">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="">ARQK79</a>
											</td>
											<td>
												<a href="">Edison Tesla</a>
											</td>
										<td class="text-center" style="width: 15%;" ng-click="openVehicleDetails('lg')">
												<a href="" class="table-link">

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-battery"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-brake-system-warning"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

													<span class="fa-stack" ng-click="openVehicleDetails('lg')">
														<i class="icon icond-engine-coolant"></i>
														<!-- <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i> -->
													</span>

												</a>
											</td>
										<td class="text-center" style="width: 15%;" >
											<a href="" class="table-link">
												<span class="fa-stack" ng-click="openVehicleMaintenances('lg')">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							<a class="accordion-toggle" ng-click="isCollapse2!= !isCollapse2">
							Se debe coordinar mantenimiento el proximo mes	
							</a>
							</h4>
						</div>
					<!-- <div id="collapseTwo" class="panel-collapse collapse"> -->
						<div id="collapseTwo" class="panel-collapse collapse-in">
							<div class="panel-body" uib-collapse="isCollapse2">

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									Sin Observaciones
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">

							</div>
						</div>
					</div>
				</div>	

								
							</div>
			</div>
		</div>









	</uib-tab>
	<uib-tab index="3" heading="Reconstruccion de Accidentes">
		<div class="row">
			<div class="main-box clearfix">

				<div class="col-lg-6 col-md-6 col-sm-12">
					<select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds"></select>	
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<select kendo-multi-select k-options="selectOptionsCars" k-ng-model="selectedUnit"></select>	
				</div>
				
			</div>
			
		</div>
		<div class="row">
			<div class="main-box clearfix">

				<div class="col-lg-6">
					 <div id="mymap"></div>

				</div>
				<div class="col-lg-6">
						<canvas id="line" class="chart chart-line" 
										chart-data="dataAccident" 
										chart-labels="labelsAccident" 
										chart-series="seriesAccident" 
										chart-options="optionsAccident" 
										chart-dataset-override="datasetOverride" 
										chart-click="onClick">
						</canvas>
				</div>
				
			</div>
	</div>

	</uib-tab>
</uib-tabset>

<!-- 	<uib-tab index="1" heading="Mantenimiento">
		<select></select>
	</uib-tab>
 -->





<!-- <div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box feed">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Project feed</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<ul>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/robert-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Robert Downey Jr.</a> took photo with Instagram.
						</div>
						<div class="post-time">
							Today 5:22 pm
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 5 min.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/lima-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Adriana Lima</a> checked in at Las Vegas Oscars
						</div>
						<div class="post-time">
							Yesterday 11:38 am
						</div>
						<div class="photos clearfix">
							<div class="item">
								<a href="">
									<img src="img/samples/robert-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/emma-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/scarlett-300.jpg" alt=""/>
								</a>
							</div>
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 9 hours.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/emma-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Emma Watson</a> commented on Scarlett Johansson's video.
						</div>
						<div class="post-time">
							Today 11:59 pm
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 28 min.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/ryan-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Ryan Gosling</a> likes Ryan Gosling's link on his own Timeline.
						</div>
						<div class="post-time">
							Yesterday 9:43 pm
						</div>
						<div class="photos clearfix">
							<div class="item">
								<a href="">
									<img src="img/samples/scarlett-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/robert-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/emma-300.jpg" alt=""/>
								</a>
							</div>
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 5 hours.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/kunis-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Mila Kunis</a> invited you to his birthday party at her mansion.
						</div>
						<div class="post-time">
							Yesterday 7:50 am
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 9 hours.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/emma-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Emma Watson</a> commented on Scarlett Johansson's video.
						</div>
						<div class="post-time">
							Today 11:59 pm
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 28 min.
						</div>
					</li>
					<li class="clearfix">
						<div class="img">
							<img src="img/samples/lima-300.jpg" alt=""/>
						</div>
						<div class="title">
							<a href="">Adriana Lima</a> checked in at Las Vegas Oscars
						</div>
						<div class="post-time">
							Yesterday 11:38 am
						</div>
						<div class="photos clearfix">
							<div class="item">
								<a href="">
									<img src="img/samples/robert-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/emma-300.jpg" alt=""/>
								</a>
							</div>
							<div class="item">
								<a href="">
									<img src="img/samples/scarlett-300.jpg" alt=""/>
								</a>
							</div>
						</div>
						<div class="time-ago">
							<i class="fa fa-clock-o"></i> 9 hours.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Todo</h2>
			</header>
			
			<div class="main-box-body clearfix">

				<ul class="widget-todo">
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-1" />
								<label for="todo-1">
									New products introduction <span class="label label-danger">High Priority</span>
								</label>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-2" />
								<label for="todo-2">
									Checking the stock <span class="label label-success">Low Priority</span>
								</label>
							</div>
						</div>
						<div class="actions">
							<a href="" class="table-link">
								<i class="fa fa-pencil"></i>
							</a>
							<a href="" class="table-link danger">
								<i class="fa fa-trash-o"></i>
							</a>
						</div>
					</li>
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-3" checked="checked" />
								<label for="todo-3">
									Buying coffee <span class="label label-warning">Medium Priority</span>
								</label>
							</div>
						</div>
						<div class="actions">
							<a href="" class="table-link">
								<i class="fa fa-pencil"></i>
							</a>
							<a href="" class="table-link danger">
								<i class="fa fa-trash-o"></i>
							</a>
						</div>
					</li>
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-4" />
								<label for="todo-4">
									New marketing campaign <span class="label label-success">Low Priority</span>
								</label>
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-5" />
								<label for="todo-5">
									Calling Mom <span class="label label-warning">Medium Priority</span>
								</label>
							</div>
						</div>
						<div class="actions">
							<a href="" class="table-link badge">
								<i class="fa fa-cog"></i>
							</a>
						</div>
					</li>
					<li class="clearfix">
						<div class="name">
							<div class="checkbox-nice">
								<input type="checkbox" id="todo-6" />
								<label for="todo-6">
									Ryan's birthday <span class="label label-danger">High Priority</span>
								</label>
							</div>
						</div>
					</li>
				</ul>
					
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box weather-box">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Weather now</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="current">
					<div class="clearfix center-block" style="width: 220px;">
						<canvas class="icon" id="current-weather" width="100" height="100"></canvas>
						<div class="temp-wrapper">
							<div class="temperature">
								-10<span class="sign">°</span>
							</div>
							<div class="desc">
								<i class="fa fa-map-marker"></i> New York
							</div>	
						</div>
					</div>
				</div>

				<div class="next">
					<ul class="clearfix">
						<li>
							<div class="day">
								MON
							</div>
							<div class="icon" title="Hot" data-toggle="tooltip">
								<i class="wi wi-hot"></i>
							</div>
							<div class="temperature">
								45<span class="sign">°</span>
							</div>
						</li>
						<li>
							<div class="day">
								TUE
							</div>
							<div class="icon" title="Showers" data-toggle="tooltip">
								<i class="wi wi-day-showers"></i>
							</div>
							<div class="temperature">
								28<span class="sign">°</span>
							</div>
						</li>
						<li>
							<div class="day">
								WED
							</div>
							<div class="icon" title="Cloudy" data-toggle="tooltip">
								<i class="wi wi-cloudy-windy"></i>
							</div>
							<div class="temperature">
								16<span class="sign">°</span>
							</div>
						</li>
						<li>
							<div class="day">
								THU
							</div>
							<div class="icon" title="Thunderstom" data-toggle="tooltip">
								<i class="wi wi-thunderstorm"></i>
							</div>
							<div class="temperature">
								18<span class="sign">°</span>
							</div>
						</li>
						<li>
							<div class="day">
								FRI
							</div>
							<div class="icon" title="Lightning" data-toggle="tooltip">
								<i class="wi wi-night-alt-lightning"></i>
							</div>
							<div class="temperature">
								22<span class="sign">°</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-8 col-md-12 col-xs-12">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Visitors location</h2>
				
				<div class="icon-box pull-right">
					<a href="" class="btn pull-left">
						<i class="fa fa-refresh"></i>
					</a>
					<a href="" class="btn pull-left">
						<i class="fa fa-cog"></i>
					</a>
				</div>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="row">
					<div class="col-md-5">
						<div class="map-stats">
							<div class="table-responsive">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th><span>Country</span></th>
											<th class="text-center"><span>Last Visit</span></th>
											<th class="text-center"><span>Status</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												USA
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status green">
												<i class="fa fa-level-up"></i> 27%
											</td>
										</tr>
										<tr>
											<td>
												Russia
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status red">
												<i class="fa fa-level-down"></i> 43%
											</td>
										</tr>
										<tr>
											<td>
												China
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status green">
												<i class="fa fa-level-up"></i> 18%
											</td>
										</tr>
										<tr>
											<td>
												India
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status green">
												<i class="fa fa-level-up"></i> 63%
											</td>
										</tr>
										<tr>
											<td>
												Australia
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status red">
												<i class="fa fa-level-down"></i> 82%
											</td>
										</tr>
										<tr>
											<td>
												Canada
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status red">
												<i class="fa fa-level-down"></i> 11%
											</td>
										</tr>
										<tr>
											<td>
												Argentina
											</td>
											<td class="text-center">
												2013/08/08
											</td>
											<td class="text-center status green">
												<i class="fa fa-level-up"></i> 74%
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div id="world-map" style="width: 100%; height: 400px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 -->							
<!-- this page specific scripts -->

<script type="text/ng-template" id="VehicleDetailsModal.html">

	<div class="modal-header">
	    <!-- <h3 class="modal-title" id="modal-title">Depreciacion Idea/Real - JFAZ990</h3> -->
	    <h3 class="modal-title" id="modal-title">Perfil de Conduccion - Sebastian Marconi</h3>
	</div>
	<div class="modal-body" id="modal-body">
<!-- 	    <ul>
	        <li ng-repeat="item in $ctrl.items">
	            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
	        </li>
	    </ul> -->
	    <!-- Selected: <b>{{ $ctrl.selected.item }}</b> -->
	    <!-- <div class="col-lg-6 col-md-6 col-sm-12"> -->
	    <div class="row">

	    	<canvas id="line" class="chart chart-line" chart-data="data"
			chart-labels="labels" chart-series="series" chart-options="options"
			chart-dataset-override="datasetOverride" chart-click="onClick">
			</canvas>
	    	
	    </div>
		<!-- <div class="col-lg-6 col-md-6 col-sm-12" ng-controller="easyChartCtrl"> -->
		<div class="row" ng-controller="easyChartCtrl">
			<div class="main-box clearfix project-box green-box">
				<div class="main-box-body clearfix">
<!-- 					<div class="project-box-header green-bg">
						<div class="name">
							<a href="">
								Perfil de Conduccion - Sebastian Marconi 
							</a>
						</div>
					</div>
 -->					
					<div class="project-box-content">
						<!-- <span class="chart fa fa-level-down" easypiechart percent="50" options="optionsRed"> -->
						<span class="chart" easypiechart percent="50" options="optionsRed">
							<span class="percent "></span><br/>
							<span class="lbl">Calificacion</span>
						</span>
					</div>
					
					<div class="project-box-footer clearfix">
						<a href="">
							<i class="fa fa-level-up red">
								<span class="value ">28000</span>
							</i>
							<span class="label">Km.</span>
						</a>
						<a href="">
							<i class="fa fa-level-up red">
								<span class="value">1700</span>
							</i>
							<span class="label">Horas</span>
						</a>
						<a href="">
							<i class="fa fa-level-down green ">
								<span class="value">800</span>
							</i>
							<span class="label">promedio R.P.M.</span>
						</a>

						<a href="">
							<i class="fa fa-level-down green ">
								<span class="value">70</span>
							</i>
							<span class="label">promedio Temperatura Motor</span>
						</a>
						<a href="">
							<i class="fa fa-level-down green ">
								<span class="value">30</span>
							</i>
							<span class="label">Infracciones</span>
						</a>
					</div>
					
					<div class="project-box-ultrafooter clearfix">
<!-- 						<img class="project-img-owner" alt="" src="img/samples/lima-300.jpg" data-toggle="tooltip" title="Adriana Lima"/>
						<img class="project-img-owner" alt="" src="img/samples/robert-300.jpg" data-toggle="tooltip" title="Robert Downey Jr."/>
						<img class="project-img-owner" alt="" src="img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/> -->
						
						<a href="" class="link pull-right">
							<i class="fa fa-arrow-circle-right fa-lg"></i>
						</a>
					</div>
				</div>
			</div>
		</div>


<!-- 			<p>{{ vehicleDetails}}</p>
			<p>{{ data}}</p>
 -->	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
	    <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
	</div>	

</script>


<script type="text/ng-template" id="VehicleMaintenanceModal.html">

	<div class="modal-header">
	    <!-- <h3 class="modal-title" id="modal-title">Depreciacion Idea/Real - JFAZ990</h3> -->
	    <h3 class="modal-title" id="modal-title">Mantenimientos Realizados - JFAZ990
	    </h3>
	</div>
	<div class="modal-body" id="modal-body">
	<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-photo fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">11:59</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">15:40</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-photo fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">18:12</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-map-marker fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">20:48</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-map-marker fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">21:22</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Maintenance Plan 1</h2>
			<p> Cambio de aceite</p>
			<p> Cambio de filtros</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Mas detalles</a>
			</div>
			<span class="cd-date">23:59</span>
		</div>
	</div>
</section>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
	    <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
	</div>	

</script>



<script src="./js/jquery.sparkline.min.js"></script>
<script src="./js/jquery.easypiechart.min.js"></script>

<!-- this page specific inline scripts -->
<script>
$(document).ready(function() {
	//WORLD MAP
	$('#world-map').vectorMap({
		map: 'world_merc_en',
		backgroundColor: '#ffffff',
		zoomOnScroll: false,
		regionStyle: {
			initial: {
				fill: '#e1e1e1',
				stroke: 'none',
				"stroke-width": 0,
				"stroke-opacity": 1
			},
			hover: {
				"fill-opacity": 0.8
			},
			selected: {
				fill: '#8dc859'
			},
			selectedHover: {
			}
		},
		markerStyle: {
			initial: {
				fill: '#e84e40',
				stroke: '#e84e40'
			}
		},
		markers: [
			{latLng: [38.35, -121.92], name: 'Los Angeles - 23'},
			{latLng: [39.36, -73.12], name: 'New York - 84'},
			{latLng: [50.49, -0.23], name: 'London - 43'},
			{latLng: [36.29, 138.54], name: 'Tokyo - 33'},
			{latLng: [37.02, 114.13], name: 'Beijing - 91'},
			{latLng: [-32.59, 150.21], name: 'Sydney - 22'},
		],
		series: {
			regions: [{
				values: gdpData,
				scale: ['#6fc4fe', '#2980b9'],
				normalizeFunction: 'polynomial'
			}]
		},
		onRegionLabelShow: function(e, el, code){
			el.html(el.html()+' ('+gdpData[code]+')');
		}
	});

	/* SPARKLINE - graph in header */
	var orderValues = [10,8,5,7,4,4,3,8,0,7,10,6,5,4,3,6,8,9];

	$('.spark-orders').sparkline(orderValues, {
		type: 'bar', 
		barColor: '#ced9e2',
		height: 25,
		barWidth: 6
	});

	var revenuesValues = [8,3,2,6,4,9,1,10,8,2,5,8,6,9,3,4,2,3,7];

	$('.spark-revenues').sparkline(revenuesValues, {
		type: 'bar', 
		barColor: '#ced9e2',
		height: 25,
		barWidth: 6
	});

	/* ANIMATED WEATHER */
	var skycons = new Skycons({"color": "#03a9f4"});
	// on Android, a nasty hack is needed: {"resizeClear": true}

	// you can add a canvas by it's ID...
	skycons.add("current-weather", Skycons.SNOW);

	// start animation!
	skycons.play();
		$('.chart').easyPieChart({
		easing: 'easeOutBounce',
		onStep: function(from, to, percent) {
			$(this.el).find('.percent').text(Math.round(percent));
		},
		barColor: '#3498db',
		trackColor: '#f2f2f2',
		scaleColor: false,
		lineWidth: 8,
		size: 130,
		animate: 1500
	});

});
</script>
